body {
    margin: 0;
}

div {
    width: 500px;
    margin: auto;
    margin-top: 50px;
}

#form {
    /* text-align: center; */
    border: 2px solid black;
    height: 400px;
}

h3 {
    text-align: center;
}

label {
    margin: 20px;
    font-size: 18px;
}

input {
    width: 224px;
    height: 23px;
}

.btn {
    font-size: 18px;
    color: white;
    background-color: green;
    width: 100px;
    border-radius: 5px;
    margin: 48px 174px;
}